DirectoryIndex index.php 
#needs to stay like this even though the actual location of the file is different... maybe another .htaccess file?

ErrorDocument 400 /var/www/vhosts/zahndocs-berlin.de/400_bad_request.php
ErrorDocument 401 /var/www/vhosts/zahndocs-berlin.de/401_unauthorized.php
ErrorDocument 403 /var/www/vhosts/zahndocs-berlin.de/403_forbidden.php
ErrorDocument 404 /var/www/vhosts/zahndocs-berlin.de/404_not_found.php
ErrorDocument 405 /var/www/vhosts/zahndocs-berlin.de/405_method_not_allowed.php
ErrorDocument 412 /var/www/vhosts/zahndocs-berlin.de/412_precondition_failed.php
ErrorDocument 414 /var/www/vhosts/zahndocs-berlin.de/414_uri_too_long.php
ErrorDocument 415 /var/www/vhosts/zahndocs-berlin.de/415_unsupported_media_type.php
ErrorDocument 500 /var/www/vhosts/zahndocs-berlin.de/500_internal_server_error.php
ErrorDocument 501 /var/www/vhosts/zahndocs-berlin.de/501_not_implemented.php
ErrorDocument 502 /var/www/vhosts/zahndocs-berlin.de/502_bad_gateway.php
ErrorDocument 503 /var/www/vhosts/zahndocs-berlin.de/503_service_unavailable.php