* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	margin-top: 3%;
	border-top: 5px solid black;
	background-color: white;
	font-size: 1.5em;
	overflow-x: hidden;
}

body {
	height: 100%;
	position: relative;
}

#wrapper {
	
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.03em;
	text-align: center;
	width: 80%;
	height: auto;
	margin: auto;
	box-shadow: 0px 10px 10px 1px grey, 0px 0px 7px orange;
	
}

#header {
	width: 100%;
	height: auto;
}

#logo-container {
	position: absolute;
	height: auto;
	max-width: 23%;
	margin-top: 2%;
	left: 13%;
	float: left;
	border: 1px solid orange;
	border-radius: 2px;
	z-index: 1000;
	padding: 0;
}

#logo-container.scroll-style {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
}

#logo-container.relative {
	position: relative;
	margin: 0.2% 0.5%;
}

#logo-container a {
	margin: 0;
	position: relative;
	top: 0;
}

#logo-container img {
	max-width: 100%;
	height: auto;
}

#brandarea {
	font-size: 1.5em;
	float: right;
	width: 50%;
	text-align: right;
	color: #595959;
}

#brandarea h3 {
	background-image: url('./Images/Berlin_Skyline_grey.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	padding: 10% 7% 10% 0;
	margin: 0;
	line-height: 1.5;
}

#above-nav {
	*zoom: 1; /* clearfix-hack for IE 6/7 */
	width: 100%;
	height: auto;
	-webkit-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

#above-nav :before,
#above-nav:after {
	content: " ";
	display: table;
}

#above-nav:after {
	clear: both;
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
}

.toggle-menu, .search  {
	display: none;
}

nav {
	font-size: 0.75em;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 3%;
	background-color: #F7F7F7;
}

#main-nav.scroll-nav {
	position: fixed;
	width: 100%;
	top: 0;
	margin: 0;
	left: 0;
	box-shadow: 0px 4px 5px -5px grey;
}

.scroll-nav > ul {
	width: 93%;
	float: right;
	border-left: 1px solid orange;
}

nav ul {
	margin: 0;
	position: relative;
	background-color: #F7F7F7;
	list-style: none;
	padding: 0.2%;
	*zoom: 1; /* clearfix-hack for IE 6/7 */
	z-index: 5;
}

nav ul:before,
nav ul:after {
	content: " ";
	display: table;
}

nav ul:after {
	clear: both;
}

#index:before {
	content: "";
	position: absolute;
	width: 100%;
	height:  5%;
	top: -5%;
	left: 0;
	background-color: blue;
}

nav ul li {
	text-align: center;
	width: 14.28%;
	display: block;
	position: relative;
	float: left;
	background-color: #F7F7F7;
}

nav > ul > li:not(#index):before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2.5px;
	border-top: 5px solid orange;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	z-index: 10;
	opacity: 0;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

nav ul li:not(#index):after {
	content: "";
	position: absolute;
	width: 100%;
	height: 5%;
	top: 100%;
	left: 0;
	background-color: blue;
	z-index: 4;
	opacity: 0;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

nav ul li:not(#index):hover:before, nav ul li:not(#index):hover:after {
	opacity: 1;
}

.li:not(:last-child) {
	border-right: 1px solid #FFB163;
}

nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	width: 100%;
}

nav ul li a, nav ul li span {
	display: block;
	padding: 8% 3%;
	text-decoration: none;
	color: black;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

nav ul li a:link, nav ul li a:visited {
	
}

nav ul li a:hover {
	color: blue;
	background-color: #EAEAEA;
}

nav ul li ul {
	box-sizing: content-box;
	display: block;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	padding: 0;
	width: 100%;
	left: 0;
	top: 100%;
	z-index: 3;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

nav ul li ul li {
	float: left;
	width: 100%;
}

nav ul li ul li:not(:first-child) {
	border-top: 1px solid  #FFB163;
}

nav ul li ul li:not(#index):after {
	content: "";
	position: absolute;
	width: 100%;
	height: 5%;
	top: 100%;
	left: 0;
	background-color: blue;
	z-index: 10;
	opacity: 0;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

main {
	clear: both;
	*zoom: 1; /* clearfix-hack for IE 6/7 */
}

section {
	float: left;
	width: 70%;
	text-align: left;
	padding-left: 3%;
	padding-bottom: 2%;
	color: #0000DB;
}

section img {
	border: 1px solid #FF8000;
	border-radius: 2px;
	max-width: 100%;
	height: auto;
}

section p:first-of-type {
	margin-top: 0;
}

main:before,
main:after {
	content: " ";
	display: table;
}

main:after {
	clear: both;
}

aside {
	float: right;
	width: 29%;
	padding: 2% 3%;
	margin-right: 1%;
	font-size: 0.75em;
	text-align: left;
	background-color: #F7F7F7;
	transition: right 0.5s ease;
}

.aside i {
	display: none;
}

#search {
	-webkit-transition: right 0.5s ease;
	transition: right 0.5s ease;
}

#search #s {
	width: 90%;
	border: 1px solid orange;
}

#search label {
	display: block;
}

aside .heading {
	font-size: 1.5em;
	color: blue;
	padding: 8% 0;
}

footer {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 3%;
	background-color: blue;
	font-size: 0.7em;
	color: #FF8000;
	line-height: 1.75;
	text-align: left;
	background: -moz-linear-gradient(top, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,156,1)), color-stop(100%, rgba(0,43,102,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	*zoom: 1; /* clearfix-hack for IE 6/7 */
}

footer:before,
footer:after {
	content: " ";
	display: table;
}

footer:after {
	clear: both;
}

footer #footerupdate {
	float: left;
	width: 33.3%;
	padding: 1% 3%;
	color: white;
	line-height: 3;
	margin-top: 2%;
}

#footerupdate a {
	color: #FF8000;
}

footer #footerimprint {
	float: left;
	width: 33.3%;
	padding: 1% 3%;
}

footer address {
	float: right;
	width: 33.3%;
	padding: 1% 3%;
}

#footercontact a {
	color: #FF8000;
}

address b {
	font-weight: bold;
	font-style: normal;
}

@media screen and (max-width: 1400px) {
	html {
		font-size: 1em;
	}
}

@media screen and (max-width: 960px) {
	html {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 760px) {
	html {
		font-size: 0.65em;
	}
	
	main {
		margin-top: 10%;
		font-size: 1.4em;
	}
	
	section {
		width: 85%;
		line-height: 1.5;
	}
	
	.aside {
		position: fixed;
		font-size: 3vmin;
		padding-left: 10%;
		padding-top: 0;
		right: -43%;
		width: 50%;
		top: 15%;
		z-index: 80;
		background-color: #DBDBDB;
		border-radius: 3px;
		box-shadow: 2px 2px 5px black;
		cursor: pointer;
	}
	
	.aside .heading {
		font-size: 4vmin;
		padding: 5% 0;
	}
	
	.aside i {
		font-size: 8vmin;
		position: absolute;
		color: grey;
		top: 1%;
		left: 1%;
		display: block;
		-webkit-transition: transform 0.5s ease;
		transition: transform 0.5s ease;
	}
	
	.swipe {
		right: 0;
	}
	
	.swipe i {
		transform: rotate(180deg);
	}
	
	footer {
		font-size: 1.3em;
		width: 100%;
		text-align: center;
	}
	
	footer #footerupdate, footer #footerimprint, #footercontact {
		clear: both;
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	html {
		font-size: 0.5em;
	}
	
	#wrapper {
		width: 100%;
		box-shadow: none;
	}
	
	#header {
		position: fixed;
		top: 0;
		height: 32px;
		background-color: white;
		border-bottom: 3px solid black;
		box-shadow: 0px 0px 3px black;
	}
	
	main {
		margin-top: 45px;
	}
	
	#main-nav {
		font-size: 3em;
		position: absolute;
		left: -100%;
		top: 32px;
		width: 70%;
		background-color: black;
		height: 100%;
		-webkit-transition: 1s ease;
		transition: 1s ease;
	}
	
	#main-nav.open {
		left: 0;
		box-shadow: 0px 0px 500px 5000px rgba(0,0,0,0.3);
	}

	#index {
		background-color: #C4C4C4;
	}
	
	#index:before {
		display: none;
	}
	
	#main-nav ul li {
		width: 100%;
		clear: both;
		padding: 0;
		border-right: none;
		border-bottom: 1px solid #FFB163;
	}
	
	nav ul li a, nav ul li span {
		padding: 2%;
	}
	
	#above-nav {
		position: relative;
		width: 51px;
		left: 50%;
		top: 0;
		margin-left: -26px;
	}
	
	#logo-container {
		position: relative;
		max-width: 100%;
		height: auto;
		margin: 0;
		left: 0;
	}
	
	#brandarea {
		display: none;
	}
	
	.toggle-menu {
		position: absolute;
		left: 0;
		top: 0;
		width: 40px;
		height: 30px;
		display: block;
		background-color: black;
		border: none;
		border-radius: 1px;
		z-index: 100;
	}
	
	.toggle-menu .bar {
		position: absolute;
		left: 50%;
		margin-left: -10px;
		display: block;
		background-color: white;
		width: 20px;
		height: 2.5px;
		border-radius: 50px;
		transition: 1s ease;
	}
	
	.toggle-menu .bar:last-child {
		margin-bottom: 0;
	}
	
	.toggle-menu.open .bar {
		margin-top: -1.25px;
		top: 50%;
	}
	
	.bar:first-child {
		top: 8px;
	}
	
	.bar:nth-child(2) {
		top: 14px;
	}
	
	.bar:last-child {
		top: 20px;
	}
	
	.toggle-menu.open .bar:first-child {
		transform: rotate(45deg);
	}
	
	.toggle-menu.open .bar:nth-child(2) {
		opacity: 0;
	}
	
	.toggle-menu.open .bar:last-child {
		transform: rotate(-45deg);
	}
	
	.toggle-menu:hover {
		cursor: pointer;
	}
	
	.search {
		display: block;
		width: 40px;
		height: 30px;
		position: absolute;
		top: 0;
		right: 0;
		background-color: black;
		color: white;
		padding: 3px;
		z-index: 100;
		cursor: pointer;
	}
	
	.search:hover {
		background-color: grey;
	}
	
	.search.searching  ~ #above-nav {
		left: 70px;
	}
	
	#search {
		font-size: 2em;
		position: absolute;
		right: -100%;
		top: 0;
		height: 30px;
		width: 50%;
		padding: 3px;
	}
	
	#search input {
		height: 22px;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
	}
	
	#search label {
		display: none;
	}
	
	#search.searching {
		right: 40px;
	}
}

@media screen and (max-width: 480px) {
	
	html {
		margin: 0;
		border: none;
	}
	
}

@media screen and (min-width: 1500px) {
	#wrapper {
		width: 1200px;
	}
}

@media screen and (min-width: 1120px) {
	#logo-container {
		width: 1200px;
	}
}